.navbar {
    text-align:left;
    padding: 8px;
    color:azure;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKVfDB0tHW7KtpfiOHUSdFLMdKj3hRu7c5Rw&usqp=CAU);
    font-size: 22px;
}



