.App {
  font-family: sans-serif;
  height: 100%;
  min-height: 100vh;
  text-align: left;
  color: rgb(11, 11, 12);
  background-color:beige

 
}


.formContainer{
display: flex;
justify-content: center;
margin: 10px;
padding: 5px;
color: blue;
letter-spacing: 1px;

}


.btn btn-primary {
  color:black;
}

